<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-3 px-md-4">
        <a class="navbar-brand" routerLink="/home" href="#">Fitness Factory</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navMenu">
            <ul class="navbar-nav gap-1 my-2 my-lg-0" >
                <li class="nav-item"><a class="nav-link  active" href="#">Classes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Membership</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Trainers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Schedule</a></li>
            </ul>
        </div>
        <div class="d-none d-lg-block">
            <a href="#" class="nav-link" class="btn-join" routerLink="/register">Join Now</a>
        </div>
    </div>
</nav>